{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="row">

                <div class="col-xs-12 col-sm-12">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header">
                                <div class="col-lg-6 ">
                                    <strong>Create Question</strong></div>
                                <div class="col-lg-6"><a href="/exam/" class="btn btn-secondary btn-block">FINISH</a>
                                </div>
                            </div>
                            <div class="card-body card-block">
                                <div class="form-group">
                                    <label class=" form-control-label">Description: :</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input class="form-control" name="Description">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Header text</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input class="form-control" name="Header_text">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Footer text</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input class="form-control" name="Footer_text">
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class=" form-control-label">Success msg</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input class="form-control" name="Success_msg">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">fail msg</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input class="form-control" name="Fail_msg">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">points</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input class="form-control" type="number" name="points">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Explanation</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input class="form-control" name="explanation">
                                    </div>


                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Question Type</strong>
                                </div>
                                <div class="card-body">

                                    <select data-placeholder="Choose a type..." class="standardSelect" tabindex="1"
                                            id="typ"
                                            name="type" onchange="type()">
                                        <option value=""></option>
                                        <option value="one">one answer</option>
                                        <option value="multiple">multiple answer</option>
                                        <option value="free">Free Text</option>

                                    </select>
                                </div>
                            </div>
                            <div class="card" id="one">
                                <div class="card-header">
                                    <strong class="card-title">One Answer Question</strong>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">answer variant</th>
                                            <th scope="col">answer description</th>
                                            <th scope="col">points</th>
                                            <th scope="col">Correct answer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td><input type="text" class="form-control" name="answer_variant1"></td>
                                            <td><input type="text" class="form-control" name="answer_description1"></td>
                                            <td><input type="number" class="form-control" name="points1"></td>
                                            <td><input type="radio" checked class="form-control" value="1"
                                                       name="Correct"></td>

                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td><input type="text" class="form-control" name="answer_variant2"></td>
                                            <td><input type="text" class="form-control" name="answer_description2"></td>
                                            <td><input type="number" class="form-control" name="points2"></td>
                                            <td><input type="radio" class="form-control" value="2" name="Correct"></td>

                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td><input type="text" class="form-control" name="answer_variant3"></td>
                                            <td><input type="text" class="form-control" name="answer_description3"></td>
                                            <td><input type="number" class="form-control" name="points3"></td>
                                            <td><input type="radio" class="form-control" name="Correct" value="3"></td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                            <div class="card" id="mult">

                                <div class="card-header">
                                    <strong class="card-title">MultiAnswer Question</strong>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">answer variant</th>
                                            <th scope="col">answer description</th>
                                            <th scope="col">points</th>
                                            <th scope="col">Correct answer</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td><input type="text" class="form-control" name="answer_variant1m"></td>
                                            <td><input type="text" class="form-control" name="answer_description1m">
                                            </td>
                                            <td><input type="number" class="form-control" name="points1m"></td>
                                            <td><input type="checkbox" class="form-control" name="Corrects" value="1">
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td><input type="text" class="form-control" name="answer_variant2m"></td>
                                            <td><input type="text" class="form-control" name="answer_description2m">
                                            </td>
                                            <td><input type="number" class="form-control" name="points2m"></td>
                                            <td><input type="checkbox" class="form-control" name="Corrects" value="2">
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td><input type="text" class="form-control" name="answer_variant3m"></td>
                                            <td><input type="text" class="form-control" name="answer_description3m">
                                            </td>
                                            <td><input type="number" class="form-control" name="points3m"></td>
                                            <td><input type="checkbox" class="form-control" name="Corrects" value="3">
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="card" id="free">
                                <div class="card-header">
                                    <strong class="card-title">Free Text Question</strong>
                                </div>
                                <div class="card-body">

                                    <textarea class="form-control" placeholder="The Text ..." name="text"></textarea>
                                </div>
                            </div>
                            <center>
                                <button class="btn btn-success btn-lg" type="submit" name="submit">Create</button>
                            </center>
                            <br><br>
                            <hr>
                    </form>
                </div>


            </div>


        </div><!-- .animated -->
    </div><!-- .content -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#one').hide();
            $('#mult').hide();
            $('#free').hide();
            $('#typ').change(function () {
                if ($("#typ").val() == "one") {
                    $('#one').show();
                    $('#mult').hide();
                    $('#free').hide();
                }
                if ($("#typ").val() == "multiple") {
                    $('#mult').show();
                    $('#one').hide();
                    $('#free').hide();
                }
                if ($("#typ").val() == "free") {
                    $('#free').show();
                    $('#mult').hide();
                    $('#one').hide();
                }

            });
        });
    </script>
    <!-- /.container -->
{% endblock %}
