{% extends "base.html" %}
{% block title %}Dashboard Home{% endblock %}
{% block content %}
	<div class="body row">
		<div class="hero-unit welcome col-sm-12">
  			<h1>Welcome to the Ghazela Academy</h1>
  			<p>We provide the finest tests</p>
            {% if notification.count > 0 %}
                <p>Notification</p>
                {%  for i in notification %}
                    <p><a href="/show/{{ n.id }}">{{ n.title }}</a></p>
                {% endfor %}
            {% endif %}
  			<a class="btn btn-primary btn-large" href="{% url 'my_register' %}">Start</a>
  		</div>

		
	</div>
{% endblock %}
